# Python exercises 1 part 1/2
The exercises are connected to the video available at: https://www.youtube.com/watch?v=M7bnYJyCx0Q from 0:00 to 1:02:20.

When writing the solutions make sure the code is clear and readable. When providing comments, follow the general principle that you should comment "why" you are doing something and not "what", the "what" is seen by the code itself.

### Add and multiply the two numbers below.

In [39]:
nr1 = 5
nr2 = 10

In [41]:
nr1 + nr2
nr1*nr2

50

# Lists

### Extract the first and last element in the list.

In [3]:
l = [1, 2, 3, 10, 15, 100]

In [42]:
print(l[0])
print(l[-1])

1
100

### Check if the first and last number is the same in each list respectively. So, we expect the answer True in list_1 and False in list_2.

In [49]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]

In [68]:
def my_func(input_list):
    if not intput_list:
        return False
    return list[0] == list[-1]

print(check_first_last(list_1))
print(check_first_last(list_2))

True
False

### Replace the number 4567 in the list with the number 22.

In [69]:
replace_4567 = [100, 2, 4567, 5, 7]

In [71]:
replace_4567[2] = 22
print(replace_4567)

[100, 2, 22, 5, 7]

### Replace the two numbers 3 and 4 with 30 and 40 in one line of code  by using slicing.

In [76]:
replace_two_numbers = [1, 2, 3, 4, 5]

In [80]:
replace_two_numbers[2:4] = 30, 40
print(replace_two_numbers)

[1, 2, 30, 40, 5]

### Print out the list below but in reverse order.

In [87]:
my_list = [1, 2, 3, 10, 15, 100]

In [88]:
my_list.reverse()
print(my_list)

[100, 15, 10, 3, 2, 1]

### Extract the following numbers with indexing or slicing:
* The number 5 in the list within the list. 
* Extract the whole list [10, 12, 13, 5, 100].
* Extract 12, 13, 5 in the list within the list
* Extract the number 8888 with negative indexing.
* Extract 1, 2, [10, 12, 13, 5, 100].

In [105]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

In [106]:
print(list_containing_a_list[2][3])

5

In [107]:
print(list_containing_a_list[2])

[10, 12, 13, 5, 100]

In [110]:
print(list_containing_a_list[2][1:4])

[12, 13, 5]

In [113]:
print(list_containing_a_list[-3])

8888

In [118]:
print(list_containing_a_list[0:3])

[1, 2, [10, 12, 13, 5, 100]]

### Append the empty list with the number 10 and the string 'Hello'. You should use the append method twice.

In [ ]:
empty_list_1 = []

In [ ]:
empty_list_1.append(10)
empty_list_1.append("Hello")
print(empty_list_1)

### Append the empty list with the number 10 and the string 'Hello'. You should use the extend method once.

In [ ]:
empty_list_2 = []

In [ ]:
empty_list_2.extend([10, "Hello"])
print(empty_list_2)

### Use list comprehension to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included.

In [179]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [180]:
list_example = [i*10 for i in list_example if i>=4 and i<=8]
print(list_example)

[40, 50, 60, 70, 80]

### Concatenate the two lists below elementwise so you get a new list ['My', 'name', 'is', 'Antonio']. Hint: use the zip function. 
Expected output: ["My", "name", "is", "Antonio"].

In [188]:
list1 = ["M", "na", "i", "Anto"]
list2 = ["y", "me", "s", "nio"]

In [191]:
zipedlist = [i1 + i2 for i1, i2 in zip(list1, list2)]
print (zipedlist)

['My', 'name', 'is', 'Antonio']

### Unpack the tuple so that we get 4 new variables.

In [194]:
my_tuple = (10, 20, 30, 40)

In [197]:
a, b, c, d, = my_tuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

### Explain with your own words what the code below containing two scenarios does.

In [199]:
def f(x): 
    return (x, x**2, x**3, x**4)

# Scenario 1.
x1, x2, x3, x4 = f(2)
print(x1)
print(x2)
print(x3)
print(x4)

print()

# Scenario 2.
x = f(3)
print(x)

#scenario 1 = lÃ¤gger in 2=x och unpackar och printar ut varenda multiplikation i olika rader.
#scenario 2 = lÃ¤gger in 3=x och sedan printar ut hela tupple'n.

2
4
8
16

(3, 9, 27, 81)

### Count the number of times 24 occurs in the tupple.

In [200]:
tuple_22 = 24, 2, 4, 24, 24, 5

In [203]:
count_24 = tuple_22.count(24)
print(count_24)

3

### Swap the two tuples, i.e. t1 should be replaced by t2 and vice versa.

In [225]:
t1 = ('Python', 'MATLAB')
t2 = ('R', 'Julia')

In [227]:
t1, t2 = t2, t1

#temp1 = t1
#temp2 = t2
#t1 = temp2 
#t2 = temp1

print(t1)
print(t2)

('Python', 'MATLAB')
('R', 'Julia')

# Dictionaries

### We have two lists, use both of them to convert it to a dictionary. l1 should be the keys whereas l2 should be the values. Hint, use the zip function.

In [269]:
l1 = [1, 2, 3]
l2 = ['Python', 'C++', 'Java']

In [271]:
dictionary = [dict(zip(l1, l2))]
print(dictionary)
print(dictionary[0][1])
print(dictionary[0][2])
print(dictionary[0][3])

[{1: 'Python', 2: 'C++', 3: 'Java'}]
Python
C++
Java

### Print out the value corresponding to the key "1".

In [261]:
dictionary = {0: 'Easy', 1: 'as', 2: 'ABC'}

In [265]:
print(dictionary[1])

as

### Explain with your own words what the code does.

In [272]:
def y(x):
  y0 = x
  y1 = x**2
  y2 = x**3

  return {'y0': y0, 'y1': y1 ,'y2': y2}

In [273]:
y(2)['y1']
#the code function takes a value and a key where it puts the value in this case it y1 which is x**2.
#then it spits out all the keys vaalues and because y0 and y2 doesnt = null only the 4 from y1 appears.

4

# Sets

### Create a set named my_set containing the items: Python, R, MATLAB, Julia, SAS, C.

In [277]:
my_set = {"Python", "R", "MATLAB", "Julia", "SAS", "C"}
type(my_set)
print(my_set)

{'MATLAB', 'SAS', 'Python', 'Julia', 'R', 'C'}

### Find all elements that are in atleast one of the sets.

In [9]:
set_a = {1, 2, 99}
set_b = {0, 100, 15, 765}

In [15]:
found = set_a.union(set_b)
print(found)

{0, 1, 2, 99, 100, 765, 15}

### Find all the items that are in *both* lists and return those values in a list.

In [2]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

In [3]:
s1 = set(l1)
s2 = set(l2)

ans = list(s1.intersection(s2))
print(ans)
type(ans)

['Python', 'Julia']

list

### Find all the unique elements of the list.

In [309]:
l = [1, 1, 2, 2, 3, 1, 2]

In [312]:
find_uniqe = set(l)
print(find_uniqe)
type(find_uniqe)

{1, 2, 3}

set

### Find all the elements that are in set_1 but not in set_2.

In [314]:
set_1 = {1, 2, 3, 4, 5, 6}
set_2 = set([1, 3, 4])

In [326]:
filtered = set_1.difference(set_2)
print(filtered)

{2, 5, 6}

# Iteration & Loops

### Print out all the elements in the list "looping_list" with a for loop.

In [322]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [332]:
for i in looping_list:
    print(i)

0
a
b
[1, 2, 3]
('Python', 'R')
55

### Print out all the elements in the list "looping_list" and enumerate the iteration number.

In [328]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [342]:
enumerated = enumerate(looping_list)
print(list(enumerated))

[(0, 0), (1, 'a'), (2, 'b'), (3, [1, 2, 3]), (4, ('Python', 'R')), (5, 55)]

### Write a for loop to print out each letter in the string.

In [344]:
for_string = 'Python!'

In [348]:
for i in for_string[:-1]:
    print(i)

P
y
t
h
o
n

### Write a while loop to print out each letter in the string.

In [1]:
while_string = 'Is Awesome!'

In [2]:
i = 0
while i < len(while_string):
    print(while_string[i])
    i += 1

I
s

A
w
e
s
o
m
e

### Print the numbers 1, 2, ..., 10 with a while loop.

In [3]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### Print out all numbers that are divisible by 5 in the list "numbers". 
Hint: Use the modulo operator %. A number is divisible by 5 if the remainder after dividing by 5 is 0.

In [10]:
numbers = [10, 20, 34, 46, 55]

In [17]:
for nr in numbers:
    if nr % 5 == 0:
        print(nr)
    else:
        print("the number is not divisible with 5")

10
20
the number is not divisible with 5
the number is not divisible with 5
55

### Print the numbers 0, 5, 10, 15, 20 with a for-loop and using the range function.

In [21]:
#nr = 0
#while nr <= 20:
#    print(nr)
#    nr += 5
nr = range(0, 20, 5)
for i in nr:
    print(i)

0
5
10
15

### Use a for loop to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included. (In general it is better to do this with list comprehension since it is more efficient but this is for exercise purpose.)

In [24]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
new_list = []
for nr in range(4, 9):
    if nr in list_example:
        new_list.append(nr*10)
print(new_list)
#new_list = []
#for nr in list_example:
#    if 4 <= nr <= 8:
#        new_list.append(nr*10)
#print(new_list)

[40, 50, 60, 70, 80]

# Functions

### Create a function "uppercase_converter" that converts a string to uppercase. For example: uppercase_converter('hello') should return the value HELLO.

In [47]:
phrase = "hello"

def uppercase_converter(x):
    converted_phrase = x.upper()
    print(converted_phrase)
    
uppercase_converter(phrase)

HELLO

### Create a function that accepts two arguments and that returns the sum and subtraction of the numbers.

In [58]:
def plus_and_minus_calc(x, y):
    ans1 = x + y
    ans2 = x - y
    print("plus answear = " + str(ans1) + "  minus answear = " + str(ans2))

plus_and_minus_calc(3, 1)

plus answear = 4  minus answear = 2

### Create  a function that contains positional only, positional or keyword and finally keyword arguments only. Hint:
**def f(pos_only_1, /, pos_or_kwd, *, kwd_only_1)** .

In [18]:
def greet(name, /, lastname, *, age):
    print(f"hi {name} {lastname} your are {age} years old")

greet("Kasper", "Henningsson", age=21)

hi Kasper Henningsson your are 21 years old

### Assign a different name to the function and call it through the new name.

In [65]:
def my_sum_function(x1, x2):
    return x1 + x2

my_sum_function(1,2)

new_name = my_sum_function
print(new_name(1, 2))

3

### Write a function f that takes three arguments. The first two are numbers whereas the third is specifying wheter you want to multiply or add them. 
Example: 

f(2, 5, 'add') = 7

f(2, 5, 'multiply') = 10

f(2, 5, 'test') should return an error (raise an exception) and print out the message: Choose either "add" or "multiply" .

In [111]:
def add_or_multiply_calc(x, y, *, opperator):
    if opperator == "multiply":
        result = x*y
        print(result)
    elif opperator == "add":
        result = x + y
        print(result)

add_or_multiply_calc(5, 10, opperator="add")

15

### Run the program below and explain what it does.

In [112]:
name = input('What is your name dear stranger?')

print('Mom, I met a person whos name is:', name)

What is your name dear stranger? Kasper

Mom, I met a person whos name is: Kasper

In [ ]:
#It askes for an input from the user and then it prints it out with a message

# General Exercises

### Check if the strings below is a palindrome meaning that if you reverse the string it is the same. 
Example: anna reversed is still anna meaning it is a palindrome. john reversed is nhoj meaning it is not a palindrome.

In [119]:
string_1 = 'anna'
string_2 = 'john'

In [122]:
def reverse_string(x):
    result = x[::-1]
    print(result)

reverse_string(string_1)
reverse_string(string_2)

anna
nhoj

### Explain, with your own words, the difference between the two code blocks below. When would you prefer the respective method? Can you create two own examples when each method might be useful?
A good link: https://stackoverflow.com/questions/9271712/difference-between-multiple-ifs-and-elifs .

In [123]:
number = 8

In [124]:
if number < 5:
    print('Less than 5')
if number < 10:
    print('Less than 10')
if number < 100:
    print('Less than 100')

Less than 10
Less than 100

In [125]:
if number < 5:
    print('Less than 5')
elif number < 10:
    print('Less than 10')
elif number < 100:
    print('Less than 100')

Less than 10

In [ ]:
#